* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

/*elementi in comune*/
:root{
    --blue-drop: #0061ff;
    --celeste-drop: #b4d0e7;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.left {
    float: left;
}

a.btn {
    display: inline-block;
    background-color: var(--blue-drop);
    padding: 1px 14px;
    line-height: 2em;
    text-decoration: none;
    color: white;
    font-size: 0.8em;
}

a.btn:hover {
    -webkit-box-shadow: inset 1px 1px 21px 4px #B5B5B5;
    -moz-box-shadow: inset 1px 1px 21px 4px #B5B5B5;
    -o-box-shadow: inset 1px 1px 21px 4px #B5B5B5;
    box-shadow: inset 1px 1px 21px 4px #B5B5B5;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}
/*fine elementi in comune*/

/*css header*/
/*css nav*/
nav{
    position: fixed;
    background-color: white;
    height: 4em;
    top: 0;
}

nav .contenitore{
    height: 4em;
}

[class*="contenitore-"]{
    width: 50%;
    float: left;
    line-height: 4em;
}

.logo-contenitore-sx {
    width: 15%;
}

.logo-contenitore-sx img{
    margin-left: 1.2em;
    vertical-align: middle;
}

[class*="link-contenitore-"] {
    width: 85%;
}

[class*="link-contenitore-"] li{
    vertical-align: middle;
    display: inline-block;
    margin-right: 3em;
}

[class*="link-contenitore-"] a{
    color: black;
    display: block;
    font-size: 0.9em;
}

.link-contenitore-sx ul:first-child{
    margin-left: 7em;
}

.link-contenitore-dx ul:first-child{
    margin-left: 9em;
}

[class*="link-contenitore-"] a:hover{
    border-bottom: 2px solid black;
}
/*fine css nav*/

/*inzio css jumbo*/
.jumbo {
    height: 520px;
    background-color: var(--celeste-drop);
    margin-top: 4em;
}

.jumbo-titolo {
    width: 80%;
    padding-top: 2em;
    margin: auto;
}

.jumbo-titolo h1 {
    font-size: 4em;
    font-weight: 600;
    line-height: 1.3em;
}

[class*="jumbo-informazioni"] {
    width: 80%;
    margin: auto;
}

[class*="jumbo-informazioni-"] {
    margin-top: 3em;
}

.jumbo-informazioni-sx {
    width: 30%;
}


.jumbo-informazioni-dx {
    width: 70%;
}

.photo-jumbo-informazioni-dx img {
    margin-top: -3em;
}

.jumbo-informazioni-sx p {
    font-size: 0.8em;
}

.jumbo-informazioni-sx .btn {
    margin-top: 1.5em;
}

.jumbo-informazioni-sx span {
    font-size: 0.7em;
}

.collegamento {
    margin-top: 2em;
}

.collegamento a {
    font-size: 2em;
    color: black;
}
/*fine css jumbo*/
/*fine css header*/

/*inizio css main*/
main {
    width: 80%;
    margin: auto;
    margin-top: 8em;
}

.piano-dropbox h1 {
    font-size: 2.3em;
    font-weight: 900;
    font-weight: bold;
    margin-bottom: 1.3em;
}

.tipo-fatturazione span {
    margin-right: 2.5em;
}

.tipo-fatturazione span:first-of-type i {
    color: var(--blue-drop);
}

.tipi-piani {
    margin-top: 2em;
}

.colonna .nome-piano {
    text-align: center;
    border-bottom: 1px solid grey;
}

.tipi-piani .colonna {
    height: 800px;
    border: 1px solid grey;
    width: 30%;
}

.tipi-piani .colonna:nth-child(2) {
    margin-left: 3.3em;
    margin-right: 3.3em;
}

/*css caratteristiche elementi dentro la colonna dei piani*/
.descrizione-piano {
    font-size: 0.8em;
    margin-left: 1em;
}

.descrizione-piano h2 {
    margin-top: 2em;
}

.descrizione-piano .prezzo-piano {
    margin-top: 1em;
    font-weight: 900;
}

.descrizione-piano .durata-piano {
    color: grey;
    margin-bottom: 2em;
}

.descrizione-piano .grandezza-piano {
    margin-top: 1em;
}

.descrizione-piano .funzioni-piano {
    margin-top: 1em;
    margin-bottom: 5em;
}

.descrizione-piano ul i {
    color: var(--blue-drop);
}

.descrizione-piano a {
    width: 90%;
    font-size: 1em;
    margin-bottom: 1.5em;
}

.descrizione-piano .ora-piano {
    margin-bottom: 5em;
}

.colore-piano{
    color: var(--blue-drop);
    font-weight: bold;
}

.descrizione-piano h3 {
    margin-bottom: 1em;
}

.descrizione-piano ul li{
    margin-bottom: 1em;
}
/*fine css colonne piani*/

/*inizio css team*/
main .team {
    margin-top: 2em;
    border: 1px solid grey;
}
.team .team-img {
    border-bottom: 1px solid grey;
    text-align: center;
}

.contatti-team div h2 {
    margin-top: 1em;
    display: inline-block;
    margin-right: 60%;
    margin-bottom: 1em;
}

.contatti-team .contenuto-contatti-team {
    margin-left: 1em;
    margin-bottom: 1em;
}

.contatti-team h3 {
    margin-bottom: 1em;
} 

.contatti-team span {
    font-size: 0.8em;
}
/*fine css team*/

/*inizio css partner*/
.partner {
    margin-top: 8em;
}

.partner .informazioni-partner {
    margin-top: 2em;
}

.partner .informazioni-partner div {
    margin-left: 2em;
}

.partner .informazioni-partner div h2 {
    margin-bottom: 1em;
}

.partner .informazioni-partner div p {
    margin-bottom: 1em;
    line-height: 1.5em;
}

.partner .informazioni-partner div a {
    background-color: white;
    color: black;
    border: 1px solid black;
}
/*fine css partner*/

/*inizio css operazioni*/
.operazioni .titolo {
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 2em;
}

.operazione-dettaglio {
    width: calc(100% / 3);
    margin-bottom: 2em;
}

.operazione-dettaglio .foto-operazione-dettaglio {
    width: 90%;
}

.operazione-dettaglio .informazioni-operazione-dettaglio {
    width: 90%;
}

.informazioni-operazione-dettaglio p {
    margin-top: 1em;
}

.informazioni-operazione-dettaglio p span {
    text-decoration: underline;
}
/*fine css operazioni*/
/*fine css main*/

/*inizio css clienti*/
.clienti {
    margin-top: 3em;
    width: 100%;
}

.clienti-intestazione {
    margin-left: 10%;
}

.clienti-intestazione h2 {
    margin-right: 70%;
}

.clienti-intestazione h2 {
    margin-bottom: 1em;
}

.clienti-intestazione .scritta-clienti {
    color: var(--blue-drop);
    text-decoration: underline;
    font-size: 0.8em;
    font-weight: 900;
}

.clienti-corpo {
    margin-top: 2em;
}

.clienti-corpo-sx {
    width: 25%;
    float: left;
}
.clienti-corpo-centro {
    width: 50%;
    float: left;
    background-color: white;
}
.clienti-corpo-dx {
    width: 25%;
    float:left;
}

.foto-clienti {
    text-align: center;
    line-height: 150px;
    width: 50%;
    height: 150px;
}

.foto-clienti img {
    vertical-align: middle;
    width: 50%;
    filter: invert(1);
}

.clienti-corpo-sx .prima {
    background-color: #a2d39b;
}

.clienti-corpo-sx .seconda {
    background-color: #61082b;
}

.clienti-corpo-sx .terza {
    background-color:#0093ce;
}

.clienti-corpo-sx .quarta {
    background-color: #ff1c1c;
}

.clienti-corpo-dx .prima {
    background-color: #d5001f;
}

.clienti-corpo-dx .seconda {
    background-color: #b4d0e7;
}

.clienti-corpo-dx .terza {
    background-color:#0d2481;
}

.clienti-corpo-dx .quarta {
    background-color: #ffd830;
}

.clienti-corpo-centro img {
    margin-top: 3em;
    width: 20%;
    margin-left: 3em;
}

.clienti-corpo-centro p {
    margin-left: 3em;
    margin-top: 1em;
    font-size: 0.8em;
    margin-bottom: 1em;
    margin-right: 10em;
}

.clienti-corpo-centro span {
    margin-left: 3em;
    font-size: 0.8em;
}

.footer-aside {
    background-color: var(--celeste-drop);
    padding: 10% 10%;
}

.footer-aside h1 {
    font-size: 2em;
    width: 40%;
    display: inline-block;
    color: #61082b;
}

.footer-aside a {
    text-align: center;
    background-color: white;
    color: black;
    margin-top: 1em;
    margin-left: 20em;
    display: block;
    width: 15em;
    line-height: 2em;
    height: 2em;
}
/*fine css clienti*/

/*inizio footer*/
.domande-frequenti {
    width: 80%;
    margin: auto;
}

.domande-frequenti h1 {
    margin-top: 3em;
    margin-bottom: 3em;
}

.domande-frequenti .domanda {
    margin-bottom: 4em;
    font-weight: 900;
}

.domanda {
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-right: 5em;
}

.domanda i {
    margin-left: 15em;
}

.domanda .risposta {
    font-weight: normal;
    margin-top: 2em;
    margin-right: 2em;
    display: none;
}

.fa-chevron-up {
    display: none;
}

.domanda:hover .risposta {
    display: block;
    color: gray;
}

.domanda:hover .fa-chevron-down {
    display: none;
}

.domanda:hover .fa-chevron-up {
    display: inline-block;
}

.domanda .risposta a {
    text-decoration: underline;
}


/*fine footer*/